[Desktop Entry]
Name=Obsidian
Exec=/home/ryan/Applications/obsidian.latest
Terminal=false
Type=Application
Icon=obsidian1
StartupWMClass=obsidian
Comment=Obsidian
MimeType=x-scheme-handler/obsidian;
Categories=Office;
